.App {
    text-align: center;
    font-family: "Garamond";
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #1d785d;
    background-image: url("CSS-Images/header.jpg");
    background-size: 100% 144.4px;
    background-repeat: no-repeat;
    min-height: 144.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.Welcome-Message{
    font-size: 24px;
}

.body{
    padding-bottom: 60px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 43px;
    font-size: 15px;
    background-color: #1d785d;
    background-image: url("CSS-Images/footer.jpg");
    color: white;
    font-family: monospace;
}

button{
    background-image: url("CSS-Images/footer.jpg");
    color: white;
}

.makeButton{
    background-image: url("CSS-Images/footer.jpg");
    color: white;
    font-size: 25px;
    height: 80px;
    width: 180px;
    margin: 20%;
}

.backButton{
    font-size: 20px;
    background-image: url("CSS-Images/footer.jpg");
    height: 43px;
    width: 200px;
}

.dropdownForm{
    width: 100%;
    font-size: 98%;
}

label{
    font-size: 20px;
}


.key{
    background-color: lightgray;
    font-weight: bold;
}